In [48]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
!ls

Dataframe IO.ipynb                   df1.html
Dataframe.ipynb                      df1.xlsx
Selecting and Indexing.ipynb         movie_metadata.csv
Series.ipynb                         深入理解Series和DataFrame.ipynb
df1.csv

In [7]:
!ls ../homework

AMZN.csv           apply_demo.csv     iris.csv           top5.csv
BABA.csv           city_weather.csv   movie_metadata.csv train.csv
Pokemon.csv        demo_duplicate.csv sales-funnel.xlsx  usa_flights.csv

In [9]:
imdb = pd.read_csv('../homework/movie_metadata.csv')

In [10]:
imdb.shape

(5043, 28)

In [11]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [16]:
imdb.tail(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [20]:
imdb['color'][5040:5042]

5040    Color
5041    Color
Name: color, dtype: object

In [28]:
imdb[['color','director_name']][0:50].tail()

    color director_name
45  Color     James Wan
46  Color  Marc Forster
47  Color  Bryan Singer
48  Color   J.J. Abrams
49  Color  Bryan Singer

In [32]:
imdb.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [34]:
sub_df = imdb[['director_name','movie_title','imdb_score']]

In [40]:
tmp_df = sub_df.iloc[10:20,0:2]
tmp_df

       director_name                                   movie_title
10       Zack Snyder           Batman v Superman: Dawn of Justice
11      Bryan Singer                             Superman Returns
12      Marc Forster                            Quantum of Solace
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest
14    Gore Verbinski                              The Lone Ranger
15       Zack Snyder                                 Man of Steel
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian
17       Joss Whedon                                 The Avengers
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides
19  Barry Sonnenfeld                               Men in Black 3

In [41]:
tmp_df.iloc[2:4,:]

     director_name                                  movie_title
12    Marc Forster                           Quantum of Solace
13  Gore Verbinski  Pirates of the Caribbean: Dead Man's Chest

In [45]:
tmp_df.loc[12:13,:'movie_title']

     director_name                                  movie_title
12    Marc Forster                           Quantum of Solace
13  Gore Verbinski  Pirates of the Caribbean: Dead Man's Chest